<p id="notice"><%= notice %></p>
<div id="user_account">
  <h1>User details</h1>
  <table>
    <tr>
      <td>Name</td>
      <td>
        <%= best_in_place @user, :name, :input %>
      </td>
    </tr>
    <tr>
      <td>Last Name</td>
      <td>
        <%= best_in_place @user, :last_name %>
      </td>
    </tr>
    <tr>
      <td>Email</td>
      <td>
          <%= best_in_place @user, :email %>
      </td>
    </tr>
    <tr>
      <td>Address</td>
      <td>
          <%= best_in_place @user, :address %>
      </td>
    </tr>
    <tr>
      <td>ZIP</td>
      <td>
          <%= best_in_place @user, :zip %>
      </td>
    </tr>
    <tr>
      <td>Country</td>
      <td>
          <%= best_in_place @user, :country, :select, [[1, "Spain"], [2, "Italy"], [3, "Germany"], [4, "France"]] %>
      </td>
    </tr>
    <tr>
      <td>Receive newsletter?</td>
      <td>
        <%= best_in_place @user, :receive_email, :checkbox %>
      </td>
    </tr>
    <tr>
      <td>User description</td>
      <td>
        <%= best_in_place @user, :description, :textarea %>
      </td>
  </table>

  <%= link_to "Users list", users_path %>

</div>