<p id="notice"><%= notice %></p>
<div id="user_account">
  <h1>User data</h1>
  <table>
    <tr>
      <td>Name</td>
      <td>
        <%= best_in_place @user, "name", "input" %>
      </td>
    </tr>
    <tr>
      <td>Last Name</td>
      <td>
        <%= best_in_place @user, "last_name" %>
      </td>
    </tr>
    <tr>
      <td>Email</td>
      <td>
          <%= best_in_place @user, "email" %>
      </td>
    </tr>
    <tr>
      <td>Address</td>
      <td>
          <%= best_in_place @user, "address" %>
      </td>
    </tr>
    <tr>
      <td>ZIP</td>
      <td>
          <%= best_in_place @user, "zip" %>
      </td>
    </tr>
    <tr>b
      <td>Country</td>
      <td>
          <%= best_in_place @user, "country", "select", [["Espa単a: Peninsula", 1], ["Espa単a: Baleares", 2], ["Espa単a: Islas Canarias", 3], ["Espa単a: Ceuta y Melilla", 4], ["Andorra", 5], ["Portugal", 6], ["Francia", 7], ["Alemania", 8], ["Austria", 9], ["Belgica", 10], ["Eslovaquia", 11], ["Eslovenia", 12], ["Finlandia", 13], ["Grecia", 14], ["Irlanda", 15], ["Italia", 16], ["Luxemburgo", 17], ["Paises Bajos", 18]] %>
      </td>
    </tr>
    <tr>
      <td>Receive newsletter?</td>
      <td>
        <%= best_in_place @user, "receive_email", "checkbox" %>
      </td>
    </tr>
  </table>
</div>